.picture{
	border: solid black 5px;
}
.picture img{
	height: 300px;
	width: 400px;
}

p.pic-title{
	text-align: center;
	font-size: 5em;
}

p.pic-description{
	text-align: center;
	width: 10em;
	display: block;
	margin: 0px auto;
}
p.pic-author{
	font-style: italic;
	text-align: center;
}

button.home-link{
	color:white;
	background: black;
	display: block;
	margin: 0px auto;
}
.home-button{
	margin: 5px;
}
.voting-container{
	float: right;
	position: relative;
	bottom: 15em;
}

.voting{
	display: block;
	margin: 5px;
}
.up-vote{
	text-align: center;
	margin:5px;
}
.down-vote{
	text-align: center;
	margin: 5px;
}